In [43]:
import os
import re
import pathlib
import pandas as pd
import numpy as np
import functools as ft

In [44]:
## Add your path here
current_path = os.getcwd()
main_path = os.path.join(current_path,'dataset')
if not os.path.exists(main_path):
    os.mkdir(main_path)

out_folder = os.path.join(main_path,'combined')
if not os.path.exists(out_folder):
    os.mkdir(out_folder)

path = os.path.join(main_path,'weather data telangana')

In [38]:
def cleaner(df):
    df = df.loc[:, ~df.columns.str.contains('^(?:Unnamed|mcode|dcode|dmcode|row_id)', case=False)]
    df.columns = [elem.lower() for elem in list(df)]
    df = df.assign(date=pd.to_datetime(df['date']))
    df = df.reset_index(drop=True)
    return df

In [39]:
years = os.listdir(path)
for i in years:
    if(i!='2018'):
        months = os.listdir(os.path.join(path,i))
        df_array = []
        print(i)
        for j in months:
            exact_path = os.path.join(path,i,j)
            try:
                df_array.append(pd.read_csv(exact_path))
            except:
                try:
                    df_array.append(pd.read_excel(exact_path))
                except Exception as e:
                    print(e)
                    
        final_dataframe = pd.DataFrame()
        
        ## Cleaning the dataframes
        for data in df_array:      
            data = cleaner(data)
            final_dataframe = pd.concat([final_dataframe,data],ignore_index=True)        

        final_dataframe.groupby('district')
        final_dataframe.reset_index(drop = True)
        year_string = 'TS Weather data ' + i + '.csv'
        df_name = os.path.join(out_folder,year_string)
        final_dataframe.to_csv(df_name,index=False)
    else:
        file = os.listdir(os.path.join(path,i))
        for j in file:
            print(i)
            exact_path = os.path.join(path,i,j)
            df = pd.read_csv(exact_path)
            df.rename(columns = {'odate':'date'},inplace= True)
            df['date'] = pd.to_datetime(df['date'])
            file_path = os.path.join(out_folder,' TS Weather data 2018.csv')
            df.to_csv(file_path,index = False)

2018
2019
2020
2021
2022

In [40]:
# district_path = r"D:\NASSCOM\dataset\district-group"
district_folder = os.path.join(main_path,'district-group')
if not os.path.exists(district_folder):
    os.mkdir(district_folder)

files = os.listdir(out_folder)
for file in files:
    file_path = os.path.join(out_folder, file)
    district_file = os.path.join(district_folder,file)
    df = pd.read_csv(file_path)
    df = df.groupby(['district','date']).mean()
    df.to_csv(district_file)

In [41]:
df.head()

                     rain (mm)  min temp (째c)  max temp (째c)  \
district date
Adilabad 2022-01-01        0.0      14.494444      24.905556
         2022-01-02        0.0      14.411111      28.822222
         2022-01-03        0.0      13.861111      29.827778
         2022-01-04        0.0      12.844444      28.638889
         2022-01-05        0.0      11.994444      29.366667

                     min humidity (%)  max humidity (%)  \
district date
Adilabad 2022-01-01         69.044444         96.888889
         2022-01-02         51.044444         96.872222
         2022-01-03         43.844444         95.355556
         2022-01-04         46.250000         95.105556
         2022-01-05         38.394444         91.911111

                     min wind speed (kmph)  max wind speed (kmph)
district date
Adilabad 2022-01-01                    0.0               3.022222
         2022-01-02                    0.0               3.227778
         2022-01-03                    0.0               2.622222
         2022-01-04                    0.0               2.861111
         2022-01-05                    0.0               3.827778